doctype html
html(lang="pt-BR")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PROJETO DRACO
        link(rel="stylesheet", href="/public/style.css")
    body 

        h1 PROJETO DRACO: post

        hr

        div(class="navbar")
            button(onclick=" location.href = '/' ") 🐲 index
            button(onclick=" location.href = '/post' ") 🗻 post
            button(onclick=" location.href = '/feed' ") ❤️ feed

        hr

        form(action="/postagem", method="POST")
            input(type="text", placeholder="Digite seu nome", name="usuario", maxlength="50")
            textarea(placeholder="Digite uma descricao", name="descricao", maxlength="1000")
            input(type="submit", value="ENVIAR")