doctype html
html(lang="pt-BR")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PROJETO DRACO
        link(rel="stylesheet", href="/public/style.css")
    body 

        h1 PROJETO DRACO: pub

        hr

        div(class="navbar")
            button(onclick=" location.href = '/' ") 🐲 index
            button(onclick=" location.href = '/post' ") 🗻 post
            button(onclick=" location.href = '/feed' ") ❤️ feed

        hr

        h2 #{publicacao.usuario}

        form(action="/atualizar", method="POST")
            input(type="text", name="usuario", value=publicacao.usuario)
            textarea(name="descricao", cols="30", rows="10") #{publicacao.descricao}
            input(type="submit", value="Atualizar")